#products{
    display:flex;
    width:100%;
    height:100%;
}

#product{
    flex:1;
    text-align: center;
}

p {
    padding: 0;
    margin: 0;
}
tr{
    text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color:lightslategray;
}

.reset{
  height:40px;
  width:65px;
}